body
{
   background-color: #FFFFFF;
   background-image: url(images/bg-6-full.jpg);
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #000000;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#Banner9
{
   background-color: #102A35;
   background-image: none;
   border: 0px solid #1E90FF;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 17px;
   text-align: center;
   margin: 0;
}
#Banner9 span
{
   display: block;
   height: 17px;
   margin: 6px 0px 6px 0px;
}
#Banner9 span:before, #Banner9 span:after 
{
   display: block;
   position: absolute;
   top: 26px;
   left: 0;
   right: 0;
}
#Banner9 span:before 
{
   content: "Documents Required for Admission";
   opacity: .3;
   -webkit-transform: scaleY(-1);
   -moz-transform: scaleY(-1);
   -ms-transform: scaleY(-1);
   -o-transform: scaleY(-1);
   transform: scaleY(-1);
}
#wb_BulletedList4
{
   border: 0px solid #C0C0C0;
   border-radius: 2px;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList4 .bullet
{
   color: #9370DB;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 3px;
   text-align: left;
   vertical-align: top;
   width: 19px;
}
#wb_BulletedList4 .item
{
   float: left;
   padding: 3px 0 3px 0;
   vertical-align: top;
   width: 300px;
}
#wb_BulletedList4 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item3
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList4 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList4 .item6
{
   height: 20px;
   text-align: left;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text19 div
{
   text-align: justify;
}
#wb_BulletedList5
{
   border: 0px solid #C0C0C0;
   border-radius: 2px;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_BulletedList5 .bullet
{
   color: #9370DB;
   float: left;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 3px;
   text-align: left;
   vertical-align: top;
   width: 19px;
}
#wb_BulletedList5 .item
{
   float: left;
   padding: 3px 0 3px 0;
   vertical-align: top;
   width: 304px;
}
#wb_BulletedList5 .item0
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item1
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item2
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item3
{
   height: 22px;
   text-align: left;
}
#wb_BulletedList5 .item4
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item5
{
   height: 20px;
   text-align: left;
}
#wb_BulletedList5 .item6
{
   height: 20px;
   text-align: left;
}
#wb_Line5
{
   font-size: 0;
}
#Line5
{
   border-width: 0;
   height: 216px;
   width: 7px;
}
#Shape17
{
   border-width: 0;
   vertical-align: top;
}
#Shape18
{
   border-width: 0;
   vertical-align: top;
}
